/* CSS Document */

.TopBar {
    top: 0;
    background-color: var( --TitleBar );
    color: var( --TitleText );
    height: 3em;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .1em;
    padding-bottom: .1em;
    display: flex;
    justify-content: space-between;
}

iframe
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
    position: fixed;
    top: 3em;
}

