﻿@page "/maintainStaff"
@using Protocol.Data
@using ViewModels.Models.Staff

<style>
	#mainForm {
		margin-left: 2rem;
		margin-top: 2rem;
		width: 100%;
	}

	#staffRoles {
		margin-left: 2rem;
		margin-top: 2rem;
		width: 20rem;
	}

	#contactDetails {
		margin-left: 2rem;
		margin-top: 2rem;
		width: 40rem;
	}

	#emerganctContact {
		margin-left: 2rem;
		margin-top: 2rem;
		width: 20rem;
	}

	#driverCommission {
		margin-left: 2rem;
		margin-top: 2rem;
		width: 25rem;
	}

	#notes {
		margin-left: 2rem;
		margin-top: 2rem;
		width: auto;
		height: 15rem;
	}

	#notes table {
		color: var(--FormTable);
		border-collapse: initial;
	}

	#notes th { border-bottom-style: solid; }

	#notes td:first-child { width: 8rem; }

	#notes ul {
		list-style: none;
		margin-left: -2.6rem;
		height: 100%;
		overflow: scroll;
	}

	#notes textarea { height: 100%; }
</style>

<h1>Maintain Staff</h1>
<div class="flex flex-column" style="width: 65rem;">
	<div class="flex flex-row">
		<div class="form-style-1" id="mainForm" tabindex="0" data-disabled="@Model.DisabledAsString">
			<h3>
				Staff Details
				<div class="toolbar">
					<button class="oi oi-plus icon-add" data-disabled-black="@Model.DisableAddAsString" @onclick="@Model.ExecuteAdd"></button>
					<button class="oi oi-x icon-x" data-disabled-black="@Model.DisableCancelAsString" @onclick="@Model.ExecuteCancel"></button>
					<span class="oi oi-check icon-check" data-disabled-black="@Model.DisableOkAsString"></span>
				</div>
			</h3>
			<input type="text" list="staff" placeholder="Staff Member" @bind-value="@Model.SelectedStaffMember"/>
			<datalist id="staff">

				@foreach( var S in Model.StaffCodes )
				{
					<option value="@S.Code">@S.FirstName @S.LastName</option>
				}

			</datalist>
			<div class="flex flex-row align-items-baseline">
				<input type="checkbox" @bind="@Model.Enabled"/>
				<span style="margin-left: .5rem;">Enabled</span>
			</div>
			<div>
				<input placeholder="Password" type="text" @bind-value="@Model.Password" @bind-value:event="oninput" style="left: 0; z-index: 1;"/>
				<span class="error" style="font-weight: normal; left: 0; z-index: 0" data-hidden="@Model.PasswordOkAsString">Password does not match input criteria</span>
			</div>
		</div>
		<div class="form-style-1" id="staffRoles" tabindex="1" data-disabled="@Model.DisabledAsString">
			<h3>Staff Roles</h3>
			<ul style="margin-left: -2rem;">
				@foreach( var R in Model.StaffRoles )
				{
					<li>
						<input type="checkbox" @bind="@R.Selected" @onclick="@Model.ExecuteRoleChange"/>
						<span>@R.RoleName</span>
					</li>
				}
			</ul>
		</div>
	</div>
	<div class="flex flex-row">
		<div class="form-style-1" id="contactDetails" tabindex="1" data-disabled="@Model.DisabledAsString">
			<h3>Contact Details</h3>
			<table>
				<tr style="vertical-align: top;">
					<td>
						<table>
							<tr>
								<td>
									<input placeholder="First Name" type="text" @bind-value="@Model.FirstName" @bind-value:event="oninput"/>
								</td>
							</tr>
							<tr>
								<td>
									<input placeholder="Last Name" type="text" @bind-value="@Model.LastName" @bind-value:event="oninput"/>
								</td>
							</tr>
							<tr>
								<td>
									<input placeholder="Middle Names" type="text" @bind-value="@Model.MiddleNames" @bind-value:event="oninput"/>
								</td>
							</tr>
							<tr>
								<td>
									<input placeholder="Phone" type="tel" @bind-value="@Model.Phone" @bind-value:event="oninput"/>
								</td>
							</tr>
							<tr>
								<td>
									<input placeholder="Mobile" type="tel" @bind-value="@Model.Mobile" @bind-value:event="oninput"/>
								</td>
							</tr>
							<tr>
								<td>
									<input placeholder="Email" type="email" @bind-value="@Model.Email" @bind-value:event="oninput"/>
								</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
							</tr>
						</table>
					</td>
					<td>
						<table>
							<tr>
								<td>
									<input placeholder="Suite" type="text" @bind-value="@Model.Suite" @bind-value:event="oninput"/>
								</td>
							</tr>
							<tr>
								<td>
									<input placeholder="Street" type="text" @bind-value="@Model.Street" @bind-value:event="oninput"/>
								</td>
							</tr>
							<tr>
								<td>
									<input placeholder="" type="text" @bind-value="@Model.Street1" @bind-value:event="oninput"/>
								</td>
							</tr>
							<tr>
								<td>
									<input placeholder="City" type="text" @bind-value="@Model.City" @bind-value:event="oninput"/>
								</td>
							</tr>
							<tr>
								<td>
									<input placeholder="Region" type="text" @bind-value="@Model.Region" @bind-value:event="oninput"/>
								</td>
							</tr>
							<tr>
								<td>
									<input placeholder="Country" type="text" @bind-value="@Model.Country" @bind-value:event="oninput"/>
								</td>
							</tr>
							<tr>
								<td>
									<input placeholder="Postal Code" type="text" @bind-value="@Model.PostalCode" @bind-value:event="oninput"/>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<div class="form-style-1" id="emerganctContact" tabindex="1" data-disabled="@Model.DisabledAsString">
			<h3>Emergency Contact</h3>
			<table>
				<tr style="vertical-align: top;">
					<td>
						<table>
							<tr>
								<td>
									<input placeholder="First Name" type="text" @bind-value="@Model.EmFirstName" @bind-value:event="oninput"/>
								</td>
							</tr>
							<tr>
								<td>
									<input placeholder="Last Name" type="text" @bind-value="@Model.EmLastName" @bind-value:event="oninput"/>
								</td>
							</tr>
							<tr>
								<td>
									<input placeholder="Phone" type="tel" @bind-value="@Model.EmPhone" @bind-value:event="oninput"/>
								</td>
							</tr>
							<tr>
								<td>
									<input placeholder="Mobile" type="tel" @bind-value="@Model.EmMobile" @bind-value:event="oninput"/>
								</td>
							</tr>
							<tr>
								<td>
									<input placeholder="Email" type="email" @bind-value="@Model.EmEmail" @bind-value:event="oninput"/>
								</td>
							</tr>
							<tr>
								<td>&nbsp; </td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<div class="form-style-1" id="driverCommission" tabindex="1" data-disabled="@Model.DisabledAsString">
			<h3>Driver Commission</h3>
			<div class="sub-form">
				<h3>Main</h3>
				<table>
					<tr style="vertical-align: top;">
						<td>
							<table>
								<thead>
								<tr>
									<th>Main 1</th>
									<th>Main 2</th>
									<th>Main 3</th>
								</tr>
								</thead>
								<tr>
									<td>
										<input type="number" step="0.01" @bind-value="@Model.MainCommission1"/>
									</td>
									<td>
										<input type="number" step="0.01" @bind-value="@Model.MainCommission2"/>
									</td>
									<td>
										<input type="number" step="0.01" @bind-value="@Model.MainCommission3"/>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
			<div class="sub-form" style="margin-top: 4rem;">
				<h3>Overrides</h3>
				<table>
					<tr style="vertical-align: top;">
						<td>
							<table>
								<thead>
								<tr>
									<th>Over 1</th>
									<th>Over 2</th>
									<th>Over 3</th>
								</tr>
								</thead>
								<tr>
									<td>
										<input type="number" step="0.01" @bind-value="@Model.CommissionOverride1"/>
									</td>
									<td>
										<input type="number" step="0.01" @bind-value="@Model.CommissionOverride2"/>
									</td>
									<td>
										<input type="number" step="0.01" @bind-value="@Model.CommissionOverride3"/>
									</td>
								</tr>
								<tr>
									<td>
										<input type="number" step="0.01" @bind-value="@Model.CommissionOverride4"/>
									</td>
									<td>
										<input type="number" step="0.01" @bind-value="@Model.CommissionOverride5"/>
									</td>
									<td>
										<input type="number" step="0.01" @bind-value="@Model.CommissionOverride6"/>
									</td>
								</tr>
								<tr>
									<td>
										<input type="number" step="0.01" @bind-value="@Model.CommissionOverride7"/>
									</td>
									<td>
										<input type="number" step="0.01" @bind-value="@Model.CommissionOverride8"/>
									</td>
									<td>
										<input type="number" step="0.01" @bind-value="@Model.CommissionOverride9"/>
									</td>
								</tr>
								<tr>
									<td>
										<input type="number" step="0.01" @bind-value="@Model.CommissionOverride10"/>
									</td>
									<td>
										<input type="number" step="0.01" @bind-value="@Model.CommissionOverride11"/>
									</td>
									<td>
										<input type="number" step="0.01" @bind-value="@Model.CommissionOverride12"/>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="form-style-1" id="notes" tabindex="1" data-disabled="@Model.DisableNotesAsString">
		<h3>
			Notes
			<div class="toolbar">
				<button class="oi oi-plus icon-add" data-disabled-black="@Model.DisableNotesAddAsString" @onclick="@Model.ExecuteNotesAdd"></button>
				<button class="oi oi-delete icon-delete" data-disabled-black="@Model.DisableNoteDeleteAsString" @onclick="@Model.DeleteNote"></button>
				<button class="oi oi-x icon-x" data-disabled-black="@Model.DisableNotesCancelAsString" @onclick="@Model.ExecuteNotesCancel"></button>
				<button class="oi oi-check icon-check" data-disabled-black="@Model.DisableNotesOkAsString" @onclick="@Model.ExecuteNotesOk"></button>
			</div>
		</h3>
		<table style="height: 100%; border-collapse: initial; border-spacing: 1rem;">
			<thead>
			<tr>
				<th>Note Name</th>
				<th>Note</th>
			</tr>
			</thead>
			<tr style="vertical-align: top;">
				<td>
					<ul>
						@foreach( var (Key, _) in @Model.Notes )
						{
							<li @onclick=" e => Model.OnNoteEnter( Key )">
								<input type="text" placeholder="@Key"  @bind-value="@Model.NoteName"  @bind-value:event="oninput"/>
							</li>
						}
					</ul>
				</td>
				<td><textarea placeholder="Enter note here" @bind-value="@Model.NoteText" @bind-value:event="oninput"></textarea></td>
			</tr>
		</table>

	</div>
</div>

@code
{
	MaintainStaffViewModel Model;


	protected override void OnInitialized()
	{
		base.OnInitialized();
		Model = new MaintainStaffViewModel( () =>
											{
												InvokeAsync( StateHasChanged );
											} );
	}
}
