﻿:root {
    --Ids: white;
    --IdsLink: white;
    --IdsLink_hover: white;
    /**/
    --NavBarHighlight: #1b9bff;
    --NavBarToggler: #FFFFFF;
    --NavBarTogglerBackground: rgba(255, 255, 255, 0.1);
    --NavBarBackground: #333333;
    --NavBarHighlight: #1b9bff;
    --NavBarItem_a: white;
    /**/
    --SideBarTop: #080808;
    --SigeBarBackground: #202020;
    /**/
    --ContentH1Background: var(--NavBarBackground);
    /**/
    --Border: #080808;
    --DefaultBackground: #215b7d;
    --DefaultTextColour: White;
    --DefaultDarkTextColour: black;
    --PanelBackground: white;
    --PanelTextColour: #202020;
    --TableBorder: white;
    /**/
    --ButtonBackground: steelBlue;
    --ButtonBorder: darkgrey;
    --ButtonShadow: deepskyblue;
    --ButtonFocusBackground: var(--NavBarHighlight);
    --ButtonText: white;
    --Error: OrangeRed;
    /**/
    --FormHeaderText: white;
    --FormSubHeaderText: black;
    --FormTable: black;
    --FormHeaderBackground: var(--NavBarBackground);
    --FormInoutBottomBorder: black;
    --FormSubTableHeaderText: black;
    --FormSubTableHeaderBackground: gainsboro;
    /**/
    --IconAdd: yellow;
    --IconCheck: lightGreen;
    --IconX: OrangeRed;
    --IconDelete: deepskyblue;
    --IconExpand: dimGrey;
    --IconCollapse: dimGrey;
}
