﻿.form-style-1 {
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    color: var(--DefaultDarkTextColour);
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    width: max-content;
}

.form-style-1 .body {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.form-style-1 h1 { margin-bottom: 0; }

.form-style-1 h2 {
    background: var(--FormHeaderBackground);
    color: var(--FormHeaderText);
    font-size: 1.2rem;
    line-height: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    text-transform: uppercase;
}

.form-style-1 h3 {
    background: var(--FormHeaderBackground);
    color: var(--FormHeaderText);
    padding: 1rem;
    text-transform: uppercase;
}


.form-style-1 th {
    font-weight: normal;
    padding-right: .2rem;
    padding-left: .25rem;
}

.form-style-1 thead.dark tr {
    background: var(--FormHeaderBackground) !important;
    color: var(--FormHeaderText) !important;
    font-weight: normal;
}

.form-style-1 .toolbar {
    align-items: center;
    background: var(--FormHeaderBackground);
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
}

.form-style-1 .toolbar .icon-add { color: var(--IconAdd); }

.form-style-1 .toolbar .icon-delete { color: var(--IconDelete); }

.form-style-1 .toolbar .icon-x { color: var(--IconX); }

.form-style-1 .toolbar .icon-magnifying-glass { color: var(--IconCheck); }

.form-style-1 .toolbar .icon-check { color: var(--IconCheck); }

.form-style-1 .icon-expand { color: var(--IconExpand); }

.form-style-1 .icon-collapse { color: var(--IconCollapse); }

.form-style-1 .toolbar .oi { margin-right: .7rem; }

.form-style-1 .toolbar .oi:last-child { margin-right: 0; }

.form-style-1 .toolbar button {
    background-color: transparent;
    border: none;
    color: transparent;
    margin: 0;
    padding: 0;
}

.form-style-1 .toolbar button:focus {
    border: none;
    outline: none;
}

.form-style-1 span { color: var(--DefaultDarkTextColour); }

.form-style-1 input[type="text"],
.form-style-1 input[type="date"],
.form-style-1 input[type="datetime"],
.form-style-1 input[type="email"],
.form-style-1 input[type="number"],
.form-style-1 input[type="search"],
.form-style-1 input[type="time"],
.form-style-1 input[type="url"],
.form-style-1 input[type="password"],
.form-style-1 input[type="tel"],
.form-style-1 textarea,
.form-style-1 select {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--FormInoutBottomBorder);
    box-sizing: border-box;
    display: block;
    margin-bottom: 1rem;
    outline: none;
}

.form-style-1 textarea {
    overflow: hidden;
    resize: none;
}

.form-style-1 input[type="button"],
.form-style-1 input[type="submit"] {
    background-color: var(--ButtonBackground);
    border: 1px solid var(--ButtonBorder);
    box-shadow: inset 0px 1px 0px 0px var(--ButtonShadow);
    color: var(--ButtonText);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.form-style-1 input[type="button"]:hover,
.form-style-1 input[type="submit"]:hover {
    background: linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color: #34CACA;
}

.form-style-1 .sub-form { width: 100%; }

.form-style-1 .sub-form h3 {
    background-color: transparent;
    border-bottom-color: var(--FormSubHeaderText);
    border-bottom-style: solid;
    border-bottom-width: medium;
    color: black;
    font-weight: normal;
    justify-content: flex-start;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-bottom: 0;
    padding-left: 0;
}

.form-style-1 .sub-form table { margin-left: -.5rem; }

.form-style-1 .sub-form thead {
    background-color: var(--DefaultBackground);
    color: var(--DefaultTextColour);
    font-weight: normal;
    font-weight: normal;
}

.form-style-1 .sub-form th {
    background-color: var(--FormSubTableHeaderBackground);
    color: var(--FormSubTableHeaderText);
    font-weight: normal;
}