﻿@page "/searchTrips"
@using ViewModels.Models.Trips

<style>
	input[type="checkbox"] { width: auto; }

	#select table { margin-left: 1rem; }

	#select td { vertical-align: middle; }

	#dates td:nth-child(3) { padding-left: 3rem; }

	#dates input:not([type="checkbox"]) { width: 11rem; }

	#references input[type="checkbox"] { margin-bottom: 1rem; }

	#references td div {
		align-items: center;
		display: flex;
		flex-direction: row;
	}

	div.form-style-1 { margin-left: 1rem; }

	.filter { margin-left: 1rem; }

	.pr1 { padding-right: 1rem; }

	.mr1 { margin-right: 1rem; }

	#tripTable {
		overflow-scrolling: auto;
		width: max-content;
	}

	#contactDetails {
		max-width: 100vw;
		max-height: 55rem;
		overflow: auto;
	}

	#tripTable td {
		border-width: 1px;
		border-color: var(--Border);
		border-style: solid;
		width: max-content;
	}

	#tripTable button {
		background-color: transparent;
		border-style: none;
	}

	#tripTable table { border: none; }

	#tripTable table th {
		background-color: var(--FormHeaderBackground);
		color: var(--FormHeaderText);
	}

	#tripTable table td:nth-child(1) { border-left-style: none; }

	#tripTable table tr:first-child td { border-top-style: none; }

	#tripTable table tr:last-child td { border-bottom-style: none; }

	.packages tr th:nth-child(3), th:nth-child(4) { text-align: center; }

	.packages tr td:nth-child(3), td:nth-child(4) { text-align: center; }

	.items tr th:nth-child(4), th:nth-child(5), th:nth-child(6), th:nth-child(7), th:nth-child(8), th:nth-child(9) { text-align: center; }

	.items tr td:nth-child(4), td:nth-child(5), td:nth-child(6), td:nth-child(7), td:nth-child(8), td:nth-child(9) { text-align: center; }

</style>

<h1>Search Trips</h1>
<div class="flex flex-row flex-wrap" id="select">
	<div class="form-style-1 flex flex-column">
		<div class="toolbar">
			<h3>Select Dates</h3>
			<div>
				<button class="oi oi-x icon-x" data-disabled-black="@Model.DisableCancelAsString" @onclick="@Model.OnCancel"></button>
				<button class="oi oi-magnifying-glass icon-magnifying-glass" data-disabled-black="@Model.DisableSearchAsString" @onclick="@Model.ExecuteSearch"></button>
			</div>
		</div>
		<div class="flex flex-row pr1" data-disabled="@Model.DisableDateSearchAsString">
			<table id="dates" data-disabled="@Model.DisableDateSearchAsString">
				<tr>
					<td>From Date:</td>
					<td><input type="date" @bind-value="@Model.FromDate"/></td>
					<td>ToDate:</td>
					<td><input type="date" @bind-value="@Model.ToDate"/></td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="checkbox" @bind="@Model.ShowAsLocalTime"/>
						<span>Show As Local Time</span>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="form-style-1 flex flex-column">
		<h3>
			Shipment ID or Reference
		</h3>
		<div class="flex flex-row pr1">
			<table id="references">
				<tr>
					<td>
						<div data-disabled="@Model.DisableShipmentIdAsString">
							<input type="checkbox" @bind="@Model.SearchByShipmentId"/>
							<input type="text" placeholder="Shipment ID"/>
						</div>
					</td>
					<td>
						<div data-disabled="@Model.DisableReferenceAsString">
							<input type="checkbox" @bind="@Model.SearchByReference"/>
							<input type="text" placeholder="Client Reference"/>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="form-style-1 flex flex-column">
		<h3>
			Filters
		</h3>
		<div class="flex flex-row">
			<div class="flex flex-column filter pr1">

				<span>Start Status</span>

				<select @bind="@Model.FromStatus">
					@foreach( var S in Model.StatusList )
					{
						<option value="@S">@S</option>
					}
				</select>
			</div>

			<div class="flex flex-column filter">

				<span>End Status</span>

				<select @bind="@Model.ToStatus">
					@foreach( var S in Model.StatusList )
					{
						<option value="@S">@S</option>
					}
				</select>
			</div>

			<div class="flex flex-column filter">

				<span>Package Type</span>

				<select @bind="@Model.PackageType">
					@foreach( var P in Model.PackageTypes )
					{
						<option value="@P">@P</option>
					}
				</select>
			</div>

			<div class="flex flex-column filter pr1">

				<span>Service Level</span>

				<select @bind="@Model.ServiceLevel">
					@foreach( var S in Model.ServiceLevels )
					{
						<option value="@S">@S</option>
					}
				</select>
			</div>
		</div>
	</div>
</div>

<div class="form-style-1 mr1">
	<div id="contactDetails">
		<table id="tripTable">
			<thead class="dark">
			<tr>
				<th>&nbsp;</th>
				<th>Shipment Id</th>
				<th>Acct</th>
				<th>Driver</th>
				<th>Ref</th>
				<th>Date</th>
				<th>Inv</th>
				<th>Pickup</th>
				<th>CZ</th>
				<th>PCity</th>
				<th>PStreet</th>
				<th>Destination</th>
				<th>DZ</th>
				<th>DCity</th>
				<th>DStreet</th>
				<th>POD</th>
				<th>Serv</th>
				<th>Pck</th>
				<th>Pcs</th>
				<th>Wgt</th>
				<th>Ready</th>
				<th>Due</th>
				<th>Status</th>
				<th>T-PU</th>
				<th>T-DEL</th>
				<th>DState</th>
				<th>DPostal Code</th>
			</tr>
			</thead>
			@foreach( var T in Model.DisplayTrips )
			{
				<tr>
					<td>
						@if( T.Expandable )
						{
							<button @onclick="@T.ToggleExpand">
								<div class="oi oi-plus icon-expand" data-Expand="@T.ExpandAsString"></div>
								<div class="oi oi-minus icon-collapse" data-notExpand="@T.ExpandAsString"></div>
							</button>
						}
					</td>
					<td>
						@T.TripId
					</td>
					<td>
						@T.AccountId
					</td>
					<td>
						@T.Driver
					</td>
					<td>
						@T.Reference
					</td>
					<td>
						@T.CallTime
					</td>
					<td>
						&nbsp;
					</td>
					<td>
						@T.PickupCompanyName
					</td>
					<td>
						@T.CurrentZone
					</td>
					<td>
						@T.PickupAddressCity
					</td>
					<td>
						@T.PickupAddressAddressLine1
					</td>
					<td>
						@T.DeliveryCompanyName
					</td>
					<td>
						@T.DeliveryZone
					</td>
					<td>
						@T.DeliveryAddressCity
					</td>
					<td>
						@T.DeliveryAddressAddressLine1
					</td>
					<td>
						@T.POD
					</td>
					<td>
						@T.ServiceLevel
					</td>
					<td>
						@T.PackageType
					</td>
					<td>
						@T.Pieces.ToString( "F0" )
					</td>
					<td>
						@T.Weight.ToString( "F4" )
					</td>
					<td>
						@T.ReadyTime
					</td>
					<td>
						@T.DueTime
					</td>
					<td>
						@T.StatusAsString
					</td>
					<td>
						@T.PickupTime
					</td>
					<td>
						@T.DeliveryTime
					</td>
					<td>
						@T.DeliveryAddressRegion
					</td>
					<td>
						@T.DeliveryAddressPostalCode
					</td>

				</tr>
				@if( T.Expandable )
				{
					<tr data-notExpand="@T.ExpandAsString">
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td colspan="999">
							@foreach( var Package in T.Packages )
							{
								<table class="packages">
									<thead>
									<tr>
										<th>&nbsp;</th>
										<th>Package Type</th>
										<th>Pieces</th>
										<th>Weight</th>
									</tr>
									</thead>
									<tr>
										<td>
											<button @onclick="@T.ToggleExpandItems">
												<div class="oi oi-plus icon-expand" data-Expand="@T.ExpandItemsAsString"></div>
												<div class="oi oi-minus icon-collapse" data-notExpand="@T.ExpandItemsAsString"></div>
											</button>
										</td>
										<td>PackageT.PackageType</td>
										<td>
											@Package.Pieces.ToString( "F0" )
										</td>
										<td>
											@Package.Weight.ToString( "F4" )
										</td>
									</tr>
									<tr data-notExpand="@T.ExpandItemsAsString">
										<td>&nbsp;</td>
										<td colspan="9999">
											<table class="items">
												<thead>
												<th>Item</th>
												<th>Description</th>
												<th>Barcode</th>
												<th>Weight</th>
												<th>Pieces</th>
												<th>Length</th>
												<th>Width</th>
												<th>Height</th>
												<th>Original</th>
												</thead>
												@foreach( var I in Package.Items )
												{
													<tr>
														<td>@I.ItemCode</td>
														<td>@I.Description</td>
														<td>@I.Barcode</td>
														<td>@I.Weight.ToString( "F4" )</td>
														<td>@I.Pieces.ToString( "F0" )</td>
														<td>@I.Length.ToString( "F1" )</td>
														<td>@I.Width.ToString( "F1" )</td>
														<td>@I.Height.ToString( "F1" )</td>
														<td>@I.Original.ToString( "F1" )</td>
													</tr>
												}
											</table>
										</td>
									</tr>
								</table>
							}
						</td>
					</tr>
				}
			}
		</table>

	</div>
</div>

@code
{
	SearchTripsViewModel Model;

	protected override void OnInitialized()
	{
		base.OnInitialized();
		Model = new SearchTripsViewModel( () =>
										  {
											  InvokeAsync( StateHasChanged );
										  } );
	}
}
