﻿@page "/signIn"
@using Blazored.LocalStorage
@using ViewModels.Models.MainMenu
@using ViewModels.Models.SignIn

<style>
	.body button {
		width: 100%;
		margin-top: 2rem;
	}

	#body {
		width: 23rem;
		margin-left: 1rem;
		flex-direction: column !important;
	}
	.form-style-1 .body {
		flex-direction: column !important;
	}
</style>

<div class="form-style-1" id="body" tabindex="0">
	<h2>Sign In</h2>

	@inject ILocalStorageService LocalStorage
	@inject NavigationManager NavigationManager
	<div class="body">
		<input tabindex="1" type="text" placeholder="Account" @bind-value="@Model.CarrierId" @bind-value:event="oninput"/>
		<input tabindex="2" type="text" placeholder="User Name" autofocus @bind-value="@Model.UserName" @bind-value:event="oninput"/>
		<input tabindex="3" type="password" placeholder="Password" @bind-value="@Model.Password" @bind-value:event="oninput">
		<button tabindex="4" disabled="@Model.DisableSignIn" @onclick="Model.ExecuteSignIn">SIGN IN</button>
		<span class="error" data-hidden="@Model.ErrorHiddenAsString">Invalid Credentials</span>
	</div>
</div>

@code {

	SignInViewModel Model;

		private const string SETTINGS = "Settings";

	protected override void OnInitialized()
	{
		NavMenuViewModel.Instance.SignedIn = false;

		base.OnInitialized();
		Model = new SignInViewModel( () =>
									 {
										 InvokeAsync( StateHasChanged );
									 },
									 async () => await LocalStorage.GetItemAsync<string>( SETTINGS ),
									 async saveData =>
										   {
											   await LocalStorage.SetItemAsync( SETTINGS, saveData );
										   } )
				{
					OnSignedIn = () =>
								 {
									 MainLayout.MainViewModel.UserName = Model.UserName;
									 NavMenuViewModel.Instance.SignedIn = true;

									 NavigationManager.NavigateTo( "/" );
								 }
				};
	}

}
