<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>IDS Internet Dispatch Services</title>
    <link href="Css/Main.css" rel="stylesheet" type="text/css">
    <link href="Css/Index.css" rel="stylesheet" type="text/css">
    </head>
<body>
	<div class="TopBar">
		<span>IDS Shipments</span>
	</div>
	<span>Nothing to see here</span>
</body>
</html>
