﻿@using ViewModels.Models.MainMenu

<div id="cssmenu">
	<ul>
		<li>
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onmouseup="@MainLayout.Instance.OnMouseOut">
				<span>Home</span>
			</NavLink>
		</li>

		<li data-visible="@Model.SignedInAsString" class="has-sub">
			<a>
				<span>File</span>
			</a>
			<ul>
				<li class="last">
					<NavLink class="nav-link" href="preferences" @onmouseup="@MainLayout.Instance.OnMouseOut">
						<span>Preferences</span>
					</NavLink>
				</li>
			</ul>
		</li>

		<li data-visible="@Model.NotSignedInAsString">
			<NavLink class="nav-link" href="signIn" @onmouseup="@MainLayout.Instance.OnMouseOut">
				<span>Sign In</span>
			</NavLink>
		</li>

		<li data-visible="@Model.SignedInAsString">
			<NavLink class="nav-link" href="searchTrips" @onmouseup="@MainLayout.Instance.OnMouseOut">
				<span>Search</span>
			</NavLink>
		</li>

		<li data-visible="@Model.SignedInAsString">
			<NavLink class="nav-link" href="maintainStaff" @onmouseup="@MainLayout.Instance.OnMouseOut">
				<span>Staff</span>
			</NavLink>
		</li>

		<li data-visible="@Model.SignedInAsString" style="border-top: white thin solid">
			<NavLink class="nav-link" href="signOut" @onmouseup="@MainLayout.Instance.OnMouseOut">
				<span>Sign Out</span>
			</NavLink>
		</li>

		<li>
			<a href="#">
				<span>About</span>
			</a>
		</li>
		<li class="last">
			<a href="#">
				<span>Contact</span>
			</a>
		</li>
	</ul>
</div>

@code
{
	NavMenuViewModel Model;

	protected override void OnInitialized()
	{
		Model = new NavMenuViewModel( () =>
									  {
										  InvokeAsync( StateHasChanged );
									  } );

		base.OnInitialized();
	}
}
