{extends "Base.tpl"}

{block name="head"}
<link href="/Css/SignIn.css" rel="stylesheet" type="text/css">
{/block}

{block name="body"}
	<div class="CenterContainer">
		<div class="CenterBox">
			<div class="Title TitleBar">Sign In</div>
		<div id="disableConatiner">
			<table width="200" border="1">
			  <tbody>
				<tr>
				  <td>Account</td>
				  <td><input id="carrierId" /></td>
				</tr>
				<tr>
				  <td>Usename</td>
				  <td><input id="userName" /></td>
				</tr>
				<tr>
				  <td>Password</td>
				  <td><input id="password" type="password" /></td>
				</tr>
				<tr>
				  <td>&nbsp;</td>
				  <td><button id="login">Login</button></td>
				</tr>
			  </tbody>
			</table>
		</div>
		</div>
	</div>
{/block}
{block name="script"}

<script>
		window.onload = function()
		{
			let Vm = new BridgeViews.ViewsModels.SignIn.SignInViewModel();
		}
</script>

{/block}

</html>
